---
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="@starting-style">
  <div class="wrapper">
    <h1><a href="/demo/" data-no-swup>demo</a> &raquo; @starting-style</h1>

    <h2>1. box:</h2>
    <div class="box"></div>

    <h2>2. dialog:</h2>
    <button type="button" data-open-button>dialog open</button>
    <dialog class="dialog" aria-label="dialog" data-dialog>
      <p>dialog</p>
      <p><a href="#">text link 1</a></p>
      <p><a href="#">text link 2</a></p>
      <button type="button">button 1</button>
      <button type="button">button 2</button>
      <button type="button" data-close-button>button 3 (dialog close)</button>
    </dialog>
  </div>
</LayoutDemo>

<script>
  const openButton = document.querySelector<HTMLButtonElement>('[data-open-button]');
  const closeButton = document.querySelector<HTMLButtonElement>('[data-close-button]');
  const dialog = document.querySelector<HTMLDialogElement>('[data-dialog]');

  openButton?.addEventListener('click', () => dialog?.showModal());
  closeButton?.addEventListener('click', () => dialog?.close());
</script>

<style>
  .wrapper {
    margin: 2rem;
  }

  h2 {
    margin-top: 5rem;
  }

  /********************
  * 1. box
  ********************/
  .box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 2s;

    @starting-style {
      background-color: transparent;
    }
  }

  /********************
  * 2. dialog
  ********************/
  .dialog,
  .dialog::backdrop {
    opacity: 0;
    transition:
      opacity 0.5s,
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete;
  }

  .dialog::backdrop {
    background-color: rgb(0 0 0 / 75%);
  }

  .dialog[open],
  .dialog[open]::backdrop {
    opacity: 1;
  }

  @starting-style {
    .dialog[open],
    .dialog[open]::backdrop {
      opacity: 0;
    }
  }
</style>
