---
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="at-property">
  <div class="wrapper">
    <h1><a href="/demo/" data-no-swup>demo</a> &raquo; at-property</h1>

    <h2>1. initial-value:</h2>
    <div class="section initial-value"></div>

    <h2>2. gradient:</h2>
    <div class="section gradient"></div>

    <h2>3. angle:</h2>
    <div class="section angle"></div>
  </div>
</LayoutDemo>

<style>
  /* stylelint-disable custom-property-pattern */
  .wrapper {
    margin: 2rem;
  }

  h2 {
    margin-top: 5rem;
  }

  .section {
    width: 32rem;
    height: 32rem;
  }

  /* initial-value */
  @property --_color-initial-value {
    syntax: '<color>';
    inherits: true;
    initial-value: tomato;
  }

  .initial-value {
    --_color-initial-value: 9999;

    background-color: var(--_color-initial-value);
  }

  /* gradient */
  @property --_color-gradient {
    syntax: '<color>';
    inherits: true;
    initial-value: yellow;
  }

  .gradient {
    --_color-gradient: blue;

    background: linear-gradient(to right, var(--_color-gradient), red);
  }

  /* angle */
  @property --_angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
  }

  .angle {
    --_angle: 0deg;

    background: linear-gradient(var(--_angle), lime, pink);
    animation: gradient 4s linear infinite;
  }

  @keyframes gradient {
    0% {
      --_angle: 0deg;
    }

    100% {
      --_angle: 360deg;
    }
  }
</style>
