---
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="demo">
  <div class="wrapper">
    <h1>demo</h1>
    <ul>
      <li><a href="/demo/unpic/">2024.05.01: unpic</a></li>
      <li><a href="/demo/easing/">2024.05.08: easing</a></li>
      <li><a href="/demo/outline/">2024.05.08: outline</a></li>
      <li><a href="/demo/gsap/">2024.05.08: gsap</a></li>
      <li><a href="/demo/hover/">2024.05.08: hover</a></li>
      <li><a href="/demo/@property/">2024.07.15: @property</a></li>
      <li><a href="/demo/@starting-style/">2024.07.16: @starting-style</a></li>
      <li><a href="/demo/inert/">2024.07.19: inert</a></li>
      <li><a href="/demo/calc-size/">2024.10.29: calc-size()</a></li>
      <li><a href="/demo/scroll-driven-animations/">2024.10.30: scroll-driven-animations</a></li>
      <li>
        2024.11.01: img-loading-fetchpriority
        <a href="/demo/img-loading-fetchpriority/01/">01</a>,
        <a href="/demo/img-loading-fetchpriority/02/">02</a>,
        <a href="/demo/img-loading-fetchpriority/03/">03</a>
      </li>
      <li><a href="/demo/display-contents/">2024.11.11: display-contents</a></li>
      <li>
        <a href="/demo/document-picture-in-picture-api/">
          2024.12.02: document-picture-in-picture-api
        </a>
      </li>
      <li><a href="/demo/skew/">2024.12.05: skew</a></li>
      <li>
        2025.01.10: img-download
        <a href="/demo/img-download/01/">01</a>,
        <a href="/demo/img-download/02/">02</a>,
        <a href="/demo/img-download/03/">03</a>,
        <a href="/demo/img-download/04/">04</a>
      </li>
    </ul>
  </div>
</LayoutDemo>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .wrapper {
    margin: 2rem;
  }

  ul {
    font-family: monospace;
    font-weight: normal;
  }
</style>
