---
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="demo">
  <div class="wrapper">
    <h1>demo</h1>
    <ul>
      <li><a href="/demo/unpic/">2024.05.01: unpic</a></li>
      <li><a href="/demo/easing/">2024.05.08: easing</a></li>
      <li><a href="/demo/outline/">2024.05.08: outline</a></li>
      <li><a href="/demo/gsap/">2024.05.08: gsap</a></li>
      <li><a href="/demo/hover/">2024.05.08: hover</a></li>
      <li><a href="/demo/@property/">2024.07.15: @property</a></li>
      <li><a href="/demo/@starting-style/">2024.07.16: @starting-style</a></li>
      <li><a href="/demo/inert/">2024.07.19: inert</a></li>
    </ul>
  </div>
</LayoutDemo>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .wrapper {
    margin: 2rem;
  }

  ul {
    font-family: monospace;
    font-weight: normal;
  }
</style>
