---
import { Image } from '@unpic/astro';
import { Source } from '@unpic/astro';
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="unpic">
  <div class="wrapper">
    <h1>unpic Demo</h1>
    <section>
      <h2>Placeholder</h2>
      <ul class="placeholder">
        <li>
          <p>placeholder="dominantColor"</p>
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="dominantColor"
          />
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="dominantColor"
            class="is-placehold"
          />
        </li>
        <li>
          <p>placeholder="blurhash"</p>
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="blurhash"
          />
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="blurhash"
            class="is-placehold"
          />
        </li>
        <li>
          <p>placeholder="lqip"</p>
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="lqip"
          />
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            placeholder="lqip"
            class="is-placehold"
          />
        </li>
        <li>
          <p>placeholder="dominantColor"</p>
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="dominantColor"
          />
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="dominantColor"
            class="is-placehold"
          />
        </li>
        <li>
          <p>placeholder="blurhash"</p>
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="blurhash"
          />
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="blurhash"
            class="is-placehold"
          />
        </li>
        <li>
          <p>placeholder="lqip"</p>
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="lqip"
          />
          <Image
            src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
            alt=""
            width={200}
            height={160}
            placeholder="lqip"
            class="is-placehold"
          />
        </li>
        <li>
          <p>background='red'</p>
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            background={'red'}
          />
          <Image
            src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
            alt=""
            width={200}
            height={160}
            background={'red'}
            class="is-placehold"
          />
        </li>
      </ul>
    </section>

    <section>
      <h2>Layout</h2>
      <ul class="layout">
        <li>
          <p>layout="constrained"</p>
          <Image
            src="https://images.unsplash.com/photo-1713560625744-46175f1b4a37"
            alt=""
            width={1000}
            height={360}
            layout="constrained"
          />
        </li>
        <li>
          <p>layout="fullWidth"</p>
          <Image
            src="https://images.unsplash.com/photo-1713560625744-46175f1b4a37"
            alt=""
            width={1000}
            height={360}
            layout="fullWidth"
          />
        </li>
        <li>
          <p>layout="fixed"</p>
          <Image
            src="https://images.unsplash.com/photo-1713560625744-46175f1b4a37"
            alt=""
            width={1000}
            height={360}
            layout="fixed"
          />
        </li>
        <li>
          <p>aspectRatio=10</p>
          <Image
            src="https://images.unsplash.com/photo-1713560625744-46175f1b4a37"
            alt=""
            aspectRatio={10}
          />
        </li>
        <li>
          <p>unstyled</p>
          <Image
            src="https://images.unsplash.com/photo-1713560625744-46175f1b4a37"
            alt=""
            width={100}
            height={100}
            unstyled
          />
        </li>
      </ul>
    </section>

    <section>
      <h2>Picture</h2>
      <ul>
        <li>
          <p>avif, webp</p>
          <picture>
            <Source
              src={'https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6'}
              type="image/avif"
              width={800}
              height={600}
            />
            <Source
              src={'https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6'}
              type="image/webp"
              width={800}
              height={600}
            />
            <Image
              src={'https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6'}
              width={800}
              height={600}
              alt=""
            />
          </picture>
        </li>
        <li>
          <picture class="picture">
            <p>@media</p>
            <Source
              src="https://images.unsplash.com/photo-1694406805270-f3a93e91f4b6"
              media="(min-width: 601px)"
              layout="fullWidth"
            />
            <Source
              src="https://images.unsplash.com/photo-1693711942336-f4f9963bd364"
              media="(max-width: 600px)"
              width={600}
              height={600}
            />
            <Image
              src="https://images.unsplash.com/photo-1693711942336-f4f9963bd364"
              width={200}
              height={200}
              alt="Aurora"
              unstyled
            />
          </picture>
        </li>
      </ul>
    </section>
  </div>
</LayoutDemo>

<script>
  const placeholderElement = document.querySelector('.placeholder');

  if (placeholderElement) {
    const images = placeholderElement.querySelectorAll('.is-placehold');

    images.forEach((img) => {
      img.src =
        "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 300'%3E%3C/svg%3E";
      img.removeAttribute('srcset');

      // img.addEventListener('mouseover', () => {
      //   img.setAttribute('data-src', img.src);
      //   img.setAttribute('data-srcset', img.srcset);
      //   img.src =
      //     "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 300'%3E%3C/svg%3E";
      //   img.removeAttribute('srcset');
      // });
      // img.addEventListener('mouseout', () => {
      //   img.src = img.getAttribute('data-src')!;
      //   img.srcset = img.getAttribute('data-srcset')!;
      // });
    });
  }
</script>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .wrapper {
    margin: 2rem;
  }

  .placeholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      position: relative;
      flex-grow: 1;
      width: 30%;

      .is-hide {
        left: 0;
        font-size: 0;
      }
    }
  }

  .picture {
    img {
      max-width: 100%;
    }
  }
</style>
