---
import LayoutDemo from '@/layouts/LayoutDemo.astro';
---

<LayoutDemo title="live-content-collections">
  <div class="wrapper">
    <h1><a href="/demo/">demo</a> &raquo; live-content-collections</h1>
    <ul>
      <li><a href="/demo/live-content-collections/dynamic/">dynamic</a></li>
      <li><a href="/demo/live-content-collections/static/">static</a></li>
    </ul>
  </div>
</LayoutDemo>
