@use 'variables' as var;
@use 'extension' as *;
@use 'foundation';

.wrapper {
  max-width: var(--container-width);
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-xs);
  margin-inline: auto;
}

ul,
ol {
  padding-left: 1em;
}
