---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, Astronaut!</h1>
      <p>
        Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
        template serves as a lightweight, minimally-styled starting point for anyone looking to build
        a personal website, blog, or portfolio with Astro.
      </p>
      <ul>
        <li>Edit this page in <code>src/pages/index.astro</code></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
