---
import { getCollection, getEntry } from 'astro:content';
import LayoutDemo from '@/layouts/LayoutDemo.astro';
import { formatDate } from '@/utils/formatDate';

export async function getStaticPaths() {
  const posts = await getCollection('staticMicroCMSBlog');
  return posts.map((post) => ({
    params: { id: post.id },
  }));
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/demo/live-content-collections/static/');
}

const entry = await getEntry('staticMicroCMSBlog', id);

if (!entry) {
  return Astro.redirect('/demo/live-content-collections/static/');
}
---

<LayoutDemo title="live-content-collections">
  <div class="wrapper">
    <h1>
      <a href="/demo/">demo</a> &raquo;
      <a href="/demo/live-content-collections/">live-content-collections</a> &raquo;
      <a href="/demo/live-content-collections/static/">static</a> &raquo;
      {entry.id}
    </h1>

    <dl>
      <dt>ID:</dt>
      <dd>{entry.id}</dd>

      <dt>publishedAt:</dt>
      <dd>{formatDate(entry.data.publishedAt)}</dd>

      <dt>updatedAt:</dt>
      <dd>{formatDate(entry.data.updatedAt)}</dd>
    </dl>
  </div>
</LayoutDemo>
