---
import type { CollectionEntry } from 'astro:content';
import Heading from '@/components/Heading.astro';
import FormattedDate from '@/components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate } = Astro.props;
---

<article data-pagefind-body>
  <header>
    <FormattedDate date={pubDate} />
    <Heading text={title} tag="h1" level={2} />
  </header>
  <div class="content">
    <slot />
  </div>
</article>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  header {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xxs);
  }

  .content {
    margin-block-start: var(--spacing-sm);

    :global(a) {
      :global(.feather) {
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        vertical-align: middle;
        fill: none;
        stroke: currentcolor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
    }

    :global(img) {
      vertical-align: text-bottom;
      border: var(--color-subtle) 1px solid;
    }

    :global(small) {
      font-size: 0.8em;
    }

    :global(strong) {
      font-weight: bold;
    }

    :global(sub),
    :global(sup) {
      font-size: 0.8em;
    }

    :global(sub) {
      vertical-align: sub;
    }

    :global(sup) {
      vertical-align: super;
    }

    :global(:where(p, dl, ol, ul, blockquote, pre, table)) {
      margin-bottom: 1.5em;
    }

    :global(:where(p, dl, ol, ul, blockquote, pre, table):last-child) {
      margin-bottom: 0;
    }

    :global(p):empty {
      display: none;
    }

    :global(:where(h1, h2, h3, h4, h5, h6)) {
      position: relative;
      font-weight: bold;
      line-height: 1.6;

      :global(.heading-link) {
        color: var(--color-primary);
        text-decoration: none;

        &:visited {
          color: var(--color-primary);
        }
      }
    }

    :global(:where(h1, h2, h3, h4, h5, h6):first-child) {
      margin-top: 0;
    }

    :global(h1) {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 2.6rem;
    }

    :global(h2) {
      margin-top: 2em;
      margin-bottom: 0.875em;
      font-size: 2.4rem;
    }

    :global(h3) {
      margin-top: 1.75em;
      margin-bottom: 0.875em;
      font-size: 2rem;
      color: var(--color-primary-sub);
    }

    :global(h4) {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
      font-size: 1.6rem;
    }

    :global(h5) {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
      font-size: 1.5rem;
    }

    :global(h6) {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
      font-size: 1.4rem;
    }

    :global(dd) {
      margin-left: 1em;
    }

    :global(ol:not(.pagefind-ui__results)),
    :global(ul) {
      padding-left: 1em;
      list-style-position: outside;

      :global(li) {
        margin-block: 0.25em;
        line-height: var(--line-height-sm);
      }
    }

    :global(ol) {
      list-style-type: decimal;

      :global(ol) {
        list-style-type: lower-alpha;

        :global(ol) {
          list-style-type: lower-roman;
        }
      }
    }

    :global(ul) {
      list-style-type: disc;

      :global(ul) {
        list-style-type: circle;

        :global(ul) {
          list-style-type: square;
        }
      }
    }

    :global(blockquote) {
      padding: 0.6em 1.2em;
      border-left: 1rem solid var(--color-subtle);
    }

    :global(blockquote) :global(p) {
      margin-bottom: 0;
    }

    :global(:where(code, kbd, samp, pre)) {
      font-family: var(--font-family-mono);
      border-radius: 0.25rem;
    }

    :global(:where(h1, h2, h3, h4, h5, h6, p, li, th, td)) {
      :global(code) {
        padding: 0.1em 0.4em 0.2em;
        background-color: var(--color-subtle);
      }
    }

    :global(:where(p, li, th, td, pre)) {
      :global(code) {
        font-size: 1.4rem;
      }
    }

    :global(pre) {
      overflow-x: auto;

      &:has(code) {
        padding: 1rem 2rem;
        line-height: 1.6;
      }
    }

    :global(figure) {
      margin-bottom: 2.8em;
      text-align: center;
    }

    :global(figure):first-child {
      margin-top: 0;
    }

    :global(figure):last-child {
      margin-bottom: 0;
    }

    :global(figcaption) {
      margin-top: 0.8em;
      font-size: 0.8em;
    }

    :global(table) {
      width: 100%;
      border-collapse: collapse;
    }

    :global(table) :global(pre) {
      white-space: pre-wrap;
    }

    :global(th),
    :global(td) {
      padding: 0.7em;
      font-size: 1.4rem;
      line-height: 1.5;
      overflow-wrap: normal;
      border: 1px solid var(--color-subtle);
    }

    :global(th) {
      background-color: color-mix(in srgb, currentcolor 5%, transparent);
    }

    :global(thead) :global(tr),
    :global(tfoot) :global(tr) {
      background-color: var(--color-secondary);
    }

    :global(thead) :global(th),
    :global(thead) :global(td),
    :global(tfoot) :global(th),
    :global(tfoot) :global(td) {
      padding: 0.75em;
      font-size: 1.4rem;
    }

    :global(tbody) :global(tr) {
      background-color: var(--color-secondary);
    }
  }
</style>
