---
import FormattedDate from './FormattedDate.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const { title, publishDate } = Astro.props;
---

<article>
  <header>
    <FormattedDate date={publishDate} />
    <h1>{title}</h1>
  </header>
  <slot />
</article>
