---
import { SITE_TITLE } from '../consts';

type Props = {
  isHome: boolean;
};

const { isHome = true } = Astro.props;
---

<header class="header">
  {
    isHome ? (
      <h1 class="brand">
        <a href="/">{SITE_TITLE}</a>
      </h1>
    ) : (
      <p class="brand">
        <a href="/">{SITE_TITLE}</a>
      </p>
    )
  }
</header>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .brand {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
  }
</style>
