---
import { SITE_TITLE } from '../consts';

type Props = {
  isHome: boolean;
};

const { isHome = true } = Astro.props;
---

<header class="header">
  {
    isHome ? (
      <h1>
        <a href="/">{SITE_TITLE}</a>
      </h1>
    ) : (
      <p>
        <a href="/">{SITE_TITLE}</a>
      </p>
    )
  }
</header>
