---
import { SITE_TITLE } from '../consts';

type Props = {
  isHome: boolean;
};

const { isHome = true } = Astro.props;

let Tag: string;
Tag = isHome ? 'h1' : 'p';
---

<header class="header">
  <Tag class="logo">
    <a href="/">{SITE_TITLE}</a>
  </Tag>
</header>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;
</style>
