---
interface Props {
  text?: string;
  tag: string;
  level?: 1 | 2;
  url?: string;
  bold?: boolean;
}

const { text, tag, level = 1, url, bold = true } = Astro.props;

const Tag = tag;
---

<Tag class:list={['heading', `--level${level}`]}>
  {url ? <a href={url}>{bold ? <b>{text}</b> : text}</a> : bold ? <b>{text}</b> : text}
</Tag>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .heading {
    font-weight: normal;
    font-feature-settings: 'palt';
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-lg);

    a {
      color: var(--color-dark);
      text-decoration: none;
    }

    b {
      display: block;
    }

    &.--level1 {
      font-size: var(--font-size-xl);
    }

    &.--level2 {
      font-size: var(--font-size-lg);
    }
  }
</style>
