---

---

<main class="main transition-fade">
  <slot />
</main>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .main {
    margin-block-start: var(--spacing-sm);
    outline: none;
  }
</style>
