---
// import '@pagefind/default-ui/css/ui.css';
---

<div class="search"></div>

<script>
  // import { PagefindUI } from '@pagefind/default-ui';

  // new PagefindUI({
  //   element: '.search',
  //   pageSize: 4,
  //   showSubResults: false,
  //   showImages: false,
  //   excerptLength: 40,
  //   translations: {
  //     placeholder: 'ブログ記事を検索',
  //     clear_search: 'クリア',
  //     load_more: 'More',
  //     search_label: '',
  //     zero_results: '「[SEARCH_TERM]」に一致する記事は見つかりませんでした。',
  //     many_results: '「[SEARCH_TERM]」の検索結果（[COUNT] 件）',
  //     one_result: '「[SEARCH_TERM]」の検索結果（[COUNT] 件）',
  //     searching: '「[SEARCH_TERM]」を検索しています...',
  //   },
  //   debounceTimeoutMs: 400,
  // });
</script>

<!-- 気が向いたら変える。下記はデフォルト -->
<!--
<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .search {
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: #393939;
    --pagefind-ui-text: #393939;
    --pagefind-ui-background: #fff;
    --pagefind-ui-border: #eee;
    --pagefind-ui-tag: #eee;
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 8px;
    --pagefind-ui-image-border-radius: 8px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;
  }
</style>
-->
