---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
---

<a href={href} class:list={[className]} {...props}>
  <slot />
</a>
<style></style>
