---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};

const { headings } = Astro.props;

const groupedHeadings = headings.reduce((array, heading) => {
  if (heading.depth === 2) {
    array.push({ ...heading, subheadings: [] });
  } else if (heading.depth === 3) {
    array.at(-1)?.subheadings.push(heading);
  }
  return array;
}, [] as HeadingWithSubheadings[]);
---

{
  groupedHeadings.length > 0 && (
    <details>
      <summary>目次</summary>
      <nav aria-label="目次">
        <ol>
          {groupedHeadings.map((h) => (
            <li>
              <a href={`#${h.slug}`}>{h.text}</a>
              {h.subheadings.length > 0 && (
                <ol>
                  {h.subheadings.map((sub) => (
                    <li>
                      <a href={`#${sub.slug}`}>{sub.text}</a>
                    </li>
                  ))}
                </ol>
              )}
            </li>
          ))}
        </ol>
      </nav>
    </details>
  )
}

<script>
  import { setupSwup } from '@/utils/swupSetup';

  function focusSection() {
    const tocLinks = document.querySelectorAll('nav[aria-label="目次"] a');
    tocLinks.forEach((link) => {
      link.addEventListener('click', function (event: any) {
        event.preventDefault();
        const targetId = event.target?.getAttribute('href').slice(1);
        const targetElement = document.getElementById(targetId);
        targetElement?.setAttribute('tabindex', '-1');
        targetElement?.focus();
      });
    });
  }

  setupSwup(focusSection);
</script>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  details {
    margin-block-end: var(--spacing-xs);

    a,
    a:visited {
      color: var(--color-primary);
    }
  }

  summary {
    padding: 0.25rem;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    cursor: pointer;
    border-radius: 0.25rem;

    @include hover;
  }

  li {
    list-style-type: disc;

    li {
      list-style-type: circle;
    }
  }
</style>
