---
import LayoutDemo from '@/layouts/LayoutDemo.astro';

const images = [
  { src: '01.png', loading: 'lazy', fetchpriority: 'low' },
  { src: '02.png', loading: 'lazy', fetchpriority: 'high' },
  { src: '03.png', loading: 'eager', fetchpriority: 'low' },
  { src: '04.png', loading: 'eager', fetchpriority: 'high' },
  { src: '05.png', loading: 'eager', fetchpriority: 'high' },
  { src: '06.png', loading: 'eager', fetchpriority: 'high' },
  { src: '07.png', loading: 'eager', fetchpriority: 'high' },
  { src: '08.png', loading: 'eager', fetchpriority: 'high' },
  { src: '09.png', loading: 'eager', fetchpriority: 'high' },
  { src: '10.png', loading: 'lazy', fetchpriority: 'high' },
  { src: '11.png', loading: 'lazy', fetchpriority: 'high' },
  { src: '12.png', loading: 'lazy', fetchpriority: 'high' },
];
---

<LayoutDemo title="fetchpriority 01">
  <div class="wrapper">
    <div class="progress-bar"></div>
    <h1><a href="/demo/">demo</a> &raquo; fetchpriority 01</h1>

    <h2>loading:あり fetchpriority:あり</h2>

    <ul class="images">
      {
        images.map((image) => (
          <li class="item">
            <p
              class="info"
              set:html={`${image.src}<br />loading="${image.loading}"<br />fetchpriority="${image.fetchpriority}"`}
            />
            <img
              src={`/images/${image.src}`}
              alt=""
              width="1200"
              height="800"
              loading={image.loading as 'lazy' | 'eager' | undefined}
              fetchpriority={image.fetchpriority as 'low' | 'high' | undefined}
            />
          </li>
        ))
      }
    </ul>
  </div>
</LayoutDemo>

<style>
  .wrapper {
    margin: 2rem;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    padding-left: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .item {
    font-size: 0;

    .info {
      font-size: 0.6rem;
    }
  }
</style>
