---
import Heading2 from '@/components/Heading2.astro';
---

<footer class="footer">
  <nav>
    <Heading2 text="サイト内リンク" tag="h2" />
    <ul>
      <li><a href="/">トップページ</a></li>
      <li><a href="/blog/">ブログ記事一覧</a></li>
    </ul>
  </nav>
  <nav>
    <Heading2 text="外部リンク" tag="h2" />
    <ul>
      <li><a href="https://github.com/yuheijotaki" target="_blank">GitHub</a></li>
      <li><a href="https://yuheijotaki.tumblr.com/" target="_blank">Tumblr</a></li>
    </ul>
  </nav>
</footer>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;
</style>
