---
import Block from '@/components/Block.astro';
import Heading from '@/components/Heading.astro';
---

<footer class="footer transition-fade">
  <Heading text="サイト内リンク" tag="h2" level={2} />
  <Block tag="ul">
    <li><a href="/">トップページ</a></li>
    <li><a href="/blog/">ブログ記事一覧</a></li>
    <li><a href="/feed.xml" data-no-swup>RSSフィード</a></li>
  </Block>
</footer>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .footer {
    margin-block-start: var(--spacing-sm);
  }
</style>
