---
import Block from '@/components/Block.astro';
import Heading from '@/components/Heading.astro';
---

<footer class="footer">
  <Heading text="サイト内リンク" tag="h2" level={2} />
  <Block tag="ul">
    <li><a href="/">トップページ</a></li>
    <li><a href="/blog/">ブログ記事一覧</a></li>
  </Block>
</footer>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  ul {
    // display: flex;
    // flex-direction: column;
    // row-gap: var(--spacing-xxs);
    // padding-inline: 0;
    list-style: none;
  }
</style>
