<!-- prettier-ignore -->
---
import Head from '@/layouts/Head.astro';
import Header from '@/layouts/Header.astro';
import Footer from '@/layouts/Footer.astro';

export interface Props {
  title: string;
  description: string;
  image?: string;
  isHome: boolean;
}

const { title, description, image, isHome } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <Head title={title} description={description} image={image} />
    <script is:inline>
      const colorMode = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('color-mode')) {
          return localStorage.getItem('color-mode');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
      document.documentElement.style.setProperty('--color-mode', colorMode);
      window.colorMode = colorMode;
    </script>
  </head>
  <body>
    <div class="wrapper">
      <Header isHome={isHome} />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<script>
  import 'focus-visible/dist/focus-visible.min.js';
  import 'baseline-status/baseline-status.min.js';
</script>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;
</style>
