---
export interface Props {
  title?: string;
}

const { title = 'demo' } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  * {
    padding: 0;
    margin: 0;
  }
</style>
